body {
  background: url("/img/background.jpg") repeat;
  padding: 50px;
}

.nav-btn,
.nav-btn:hover {
  color: #000;
}

.angular-google-map-container {
  height: 500px;
}

#floating-panel {
  position: absolute;
  top: 11px;
  left: 125px;
  z-index: 5;
}

.btn-map {
  font-family: Roboto, Arial, sans-serif;
  font-size: 11px;
}

.alert {
  margin-bottom: 0;
}

.navigation-list {
    list-style-type: none;
    padding-left: 0;
}

.navigation-list li {
    margin: 0;
    padding: 20px;
    cursor: auto;
}

.navigation-list li:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}