body {
  background: url("/img/background.jpg") repeat;
  padding: 50px;
}

.nav-btn,
.nav-btn:hover {
  color: #000;
}

.angular-google-map-container {
  height: 500px;
}

#floating-panel {
  position: absolute;
  top: 11px;
  left: 125px;
  z-index: 5;
}

.btn-map {
  font-family: Roboto, Arial, sans-serif;
  font-size: 11px;
}

.alert {
  margin-bottom: 0px;
}