<div style="text-align: center">
    <button class="btn btn-default" style="float: left;" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
    <h1 style="display: inline-block;">Member Locations</h1>
    <button class="btn btn-default" style="float: right" ng-click="vm.logout()">Logout <span class="glyphicon glyphicon-log-out"></span></button>
</div>

<hr>

<div class="col-md-8">
    <div class="btn-group" id="floating-panel">
        <button class="btn btn-default btn-map" ng-click="vm.toggleHeatmap()">Toggle Heatmap</button>
        <button class="btn btn-default btn-map" ng-click="vm.changeGradient()">Change gradient</button>
        <button class="btn btn-default btn-map" ng-click="vm.changeRadius()">Change radius</button>
        <button class="btn btn-default btn-map" ng-click="vm.changeOpacity()">Change opacity</button>
    </div>

    <ui-gmap-google-map center="vm.heatmapProperties.center" zoom="vm.heatmapProperties.zoom">
        <ui-gmap-layer namespace="visualization" type="HeatmapLayer" show="vm.heatmapProperties.show" onCreated="vm.heatmapProperties.heatLayerCallback"></ui-gmap-layer>
        <ui-gmap-polyline path="vm.pathProperties.path" visible="vm.pathProperties.visible" static="true"></ui-gmap-polyline>
    </ui-gmap-google-map>
</div>

<div class="col-md-4">
    <h4>Date Filter</h4>
    <form class="col-md-12">
        <div class="row">
            <input class="form-control" type="text" placeholder="MM" minlength="2" maxlength="2" ng-model="vm.date.month" required/>
        </div>
        <div class="row">
            <input class="form-control"  type="text" placeholder="DD" minlength="2" maxlength="2" ng-model="vm.date.day" required/>
        </div>
        <div class="row">
            <input  class="form-control" type="text" placeholder="yyyy" minlength="4" maxlength="4" ng-model="vm.date.year" required/>
        </div>
        <div class="row">
            <button class="btn btn-primary" type="submit" ng-click="vm.filterByDate()">Go</button>
            <button class="btn btn-warning" ng-click="vm.resetDates()" ng-if="vm.dateFilter">Reset</button>
        </div>
    </form>

    <button style="margin-top: 10px" class="btn btn-success" ng-click="vm.toggleTimelapse()" ng-if="!vm.timelapseOn">Start Timelapse</button>
    <button style="margin-top: 10px" class="btn btn-success" ng-click="vm.toggleTimelapse()" ng-if="vm.timelapseOn">Stop Timelapse</button>
    <div class="row" ng-if="vm.timelapseOn">
        <h4>Speed
            <span ng-if="vm.speed < 1">Fast</span>
            <span ng-if="vm.speed >= 1 && vm.speed < 2">Medium</span>
            <span ng-if="vm.speed >= 2">Slow</span>
        </h4>
        <input style="transform: rotateY(180deg)" type="range" min="0.1" max="3.0" step="0.1" value="1.0" ng-model="vm.speed"/>
    </div>
</div>