<div class="container" style="margin-top: 100px">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 well" style="background: #fafafa">
            <h2 style="text-align: center">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                User Login
            </h2>
            <form novalidate>
                <div class="col-md-offset-2 col-md-8 input-group">
                    <span class="input-group-addon">Username</span>
                    <input type="text" class="form-control" ng-model="vm.user.username">
                </div>
                <div class="col-md-offset-2 col-md-8 input-group">
                    <span class="input-group-addon">Password&nbsp;</span>
                    <input type="password" class="form-control" ng-model="vm.user.password">
                </div>
                <br>
                <div class="col-md-offset-2 col-md-8" style="text-align: center">
                    <button class="btn btn-primary" type="submit" ng-click="vm.login()">Log In</button>
                    <button class="btn btn-success" ng-click="vm.register()">Create Account</button>
                </div>
            </form>
        </div>
    </div>
</div>